<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>خطأ</h1>
    <div class="error-message">
        <%= message %>
    </div>
    <a href="/clubs">العودة إلى صفحة النوادي</a>
</body>
</html>