<div class="container">
    <div class="login-container">
        <div class="brand">تسجيل الدخول</div>
        <p class="text-center mb-4">يرجى تسجيل الدخول باستخدام حسابك</p>

        <a href="/auth/google" class="btn btn-primary w-100 mb-3">
            <i class="bi bi-google"></i>
            تسجيل الدخول باستخدام Google
        </a>

        <!--TODO: remove disabled class and soon text when implemented -->
        <a href="/auth/github" class="btn btn-outline w-100 mb-3 disabled">
            <i class="bi bi-github"></i>
            تسجيل الدخول باستخدام GitHub (قريبا)
        </a>
        <hr class="my-4">
    </div>
</div>