<div class="container">
    <br>
    <div class="mx-auto my-5 p-4 bg-white rounded shadow-sm" style="max-width: 450px;">
        <h1>ุชุญุฏูุซ ุงูููู ุงูุดุฎุตู</h1>
        <p>ุญูุงู ุงููู!
            <span class="emoji">๐</sp an> ุงุณูู ูุถุจูุทุ ุฅุฐุง ุชุจูู ูุฐุง ุณู ุชุฎุทู. ูุฅุฐุง ููู ุดูุก ุชุจู ุชุนุฏููุ ุนุฏูู. ูุฎููุง ูููู <span class="emoji">๐</span>
        </p>
        <% if (!user) { %>
            <p>ูุฑุฌู <a href="/login" class="text-decoration-none link-primary">ุชุณุฌูู ุงูุฏุฎูู</a> ูุชุญุฏูุซ ูููู ุงูุดุฎุตู.</p>
        <% } else { %>
            <form action="/update-profile" method="POST">
                <label for="firstName" class="form-label fw-500 text-gray-700">ุงูุงุณู ุงูุฃูู:</label>
                <input type="text" id="firstName" name="firstName" class="form-control mb-3 py-3" value="<%= user.firstName %>">

                <label for="lastName" class="form-label fw-500 text-gray-700">ุงูุงุณู ุงูุฃุฎูุฑ:</label>
                <input type="text" id="lastName" name="lastName" class="form-control mb-3 py-3" value="<%= user.lastName %>">

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">ุชุญุฏูุซ</button>
                    <a href="/profile" class="btn btn-secondary">ุชุฎุทู</a>
                </div>
            </form>
        <% } %>
    </div>
</div>