@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap');

.footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    font-family: 'Tajawal', sans-serif;
}

.footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer .text-muted {
    color: #6c757d;
}