<header class="header navbar navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand gradient-text" href="/">وصل</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'events' ? 'active' : '' %>" aria-current="<%= currentPage === 'events' ? 'page' : 'false' %>" href="/events">الفعاليات</a>
                </li>
            </ul>
            <div class="navbar-nav gap-2">
                <% if (user) { %>
                    <!-- Display profile dropdown if user is logged in -->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="<%= user.profileImage || '/path/to/default/image' %>" alt="Profile" class="rounded-circle" width="30" height="30">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">حسابي</a></li>
                            <% if (user.role === 'clubAdmin') { %>
                                <!-- Show club admin dashboard link for clubAdmin role -->
                                <li><a class="dropdown-item" href="/club-admin-dashboard">لوحة تحكم النادي</a></li>
                            <% } %>
                            <li><a class="dropdown-item" href="/logout">تسجيل الخروج</a></li>
                        </ul>
                    </div>
                <% } else { %>
                    <!-- Show login and register buttons if user is not logged in (Visitor) -->
                    <a class="btn btn-outline-primary" href="/login">تسجيل الدخول</a>
                    <a class="btn btn-primary" href="/register">إنشاء حساب</a>
                <% } %>
            </div>
        </div>
    </div>
</header>